workflows:
  version: 2
  node-multi-build:
    jobs:
      - node-v8
      - node-v10
      - eslint-v7
      - eslint-v8
      - node-v12
      - node-v14
      - lint

version: 2
jobs:
  node-base: &node-base
    docker:
      - image: node
    steps:
      - run:
          name: Versions
          command: npm version
      - checkout
      - restore_cache:
          keys:
            - v2-npm-lock-{{ .Branch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: v2-npm-lock-{{ .Branch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Test
          command: npm test

  node-v8:
    docker:
      - image: node:8
    steps:
      - run:
          name: Versions
          command: npm version
      - checkout
      - run:
          name: Install eslint@6
          command: |
            npm install --save-exact eslint@6.8.0 @typescript-eslint/parser@3.10.1 typescript@4.0.8
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm test
  node-v10:
    <<: *node-base
    docker:
      - image: node:10
  eslint-v7:
    docker:
      - image: node:10
    steps:
      - run:
          name: Versions
          command: npm version
      - checkout
      - run:
          name: Install eslint@7
          command: |
            npm install --save-exact eslint@7
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm test
  eslint-v8:
    docker:
      - image: node:14
    steps:
      - run:
          name: Versions
          command: npm version
      - checkout
      - run:
          name: Install eslint@8
          command: |
            npm install --save-exact eslint@^8.0.0-0
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm test
  node-v12:
    <<: *node-base
    docker:
      - image: node:12
  node-v14:
    <<: *node-base
    docker:
      - image: node:14

  lint:
    docker:
      - image: node:14
    steps:
      - run:
          name: Versions
          command: npm version
      - checkout
      - restore_cache:
          keys:
            - v2-npm-lock-{{ .Branch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: v2-npm-lock-{{ .Branch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Test
          command: npm run lint
