.theme-container.rule-details .content > h1 {
  font-size: 1.8rem;

  + blockquote {
    margin-top: -15px;
    padding: 0;
    border: 0;
    font-weight: 500;
    font-size: 1.4rem;
    color: currentColor;

    ::first-letter {
      text-transform: uppercase;
    }

    p {
      line-height: 1.2;
    }
  }
}
