name: CI
on:
  push:
    branches:
      - 'master'
  pull_request:
    types:
      - 'opened'
      - 'synchronize'
      - 'reopened'

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node.js
        uses: actions/setup-node@v6
      - name: Install Packages
        run: npm install --legacy-peer-deps
      - name: Lint
        run: npm run lint

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install Packages
        run: npm install

      - name: Build
        run: npm run build

      - name: Cache dist
        uses: actions/upload-artifact@v6
        with:
          retention-days: 3
          name: dist
          path: dist

  test:
    name: Test
    strategy:
      matrix:
        node: [18, 20, 22, 24, 'lts/*']
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node.js v${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Install Packages
        run: npm install
      - name: Restore dist cache
        uses: actions/download-artifact@v7
        with:
          name: dist
      - name: Test
        run: npm test

  test-with-eslint-v8:
    name: Test with ESLint v8
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node.js v18
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install Packages
        run: npm install
      - name: Install ESLint v8
        run: npm install --save-dev eslint@8 --force
      - name: Restore dist cache
        uses: actions/download-artifact@v7
        with:
          name: dist
      - name: Test
        run: npm test

  test-with-eslint-v10:
    name: Test with ESLint v10
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node.js v18
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Change local ESLint version to v10
        run: |
          sed --in-place 's/"eslint": "^9.32.0"/"eslint": "^10.0.0"/' package.json
          sed --in-place 's/"espree": "^10.4.0"/"espree": "^11.0.0"/' package.json
      - name: Install Packages
        run: npm install --force
      - name: Restore dist cache
        uses: actions/download-artifact@v7
        with:
          name: dist
      - name: Test
        run: npm test

  test-without-eslint-stylistic:
    name: Test without ESLint Stylistic
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node.js
        uses: actions/setup-node@v6
      - name: Install Packages
        run: npm install
      - name: Uninstall @stylistic/eslint-plugin
        run: npm uninstall @stylistic/eslint-plugin
      - name: Restore dist cache
        uses: actions/download-artifact@v7
        with:
          name: dist
      - name: Test
        run: npm test

  test-with-old-eslint-stylistic:
    name: Test with old ESLint Stylistic
    strategy:
      matrix:
        stylistic: [2, 3, 4]
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node.js
        uses: actions/setup-node@v6
      - name: Install Packages
        run: npm install
      - name: Install @stylistic/eslint-plugin v${{ matrix.stylistic }}
        run: npm install -D @stylistic/eslint-plugin@${{ matrix.stylistic }} --force
      - name: Restore dist cache
        uses: actions/download-artifact@v7
        with:
          name: dist
      - name: Test
        run: npm test

  test-with-typescript-eslint-v7:
    name: Test with typescript-eslint v7
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node.js
        uses: actions/setup-node@v6
      - name: Install Packages
        run: npm install
      - name: Install @typescript-eslint/parser v7
        run: npm install -D @typescript-eslint/parser@7 --force
      - name: Restore dist cache
        uses: actions/download-artifact@v7
        with:
          name: dist
      - name: Test
        run: npm test
